{% extends 'base.html' %}

{% block body %}
<div class="container col-lg-8">
    <div class="my-5">
        <h1>Add New Article</h1>
    </div>
    <div class="my-5">
        {% from 'includes/_formhelper.html' import render_field %}
        <form action="" method="post">
            <div class="form-group">
                {{ render_field(form.title,class_="form-control")}}
            </div>
            <div class="form-group">
                {{ render_field(form.body,class_="form-control",rows=5)}}
            </div>
            <div class="form-group">
                <button type="submit" class='btn btn-primary'> Add Article</button>
            </div>
        </form>
    </div>
</div>



{% endblock %}