{% extends 'base.html' %} {% block body %}
<div class="container col-md-4 col-sm-6 col-lg-8">
  <div class="row">
    <h1>Articles</h1>
  </div>
  <div class="row">
    <ul class="list-group">
      {% for curr_article in articles %}
      <li class="list-group-item"><a href="article/{{curr_article.id}}">{{ curr_article.title}}</a></a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
