{% extends 'base.html' %}
{% block body %}
<div class="container col-lg-8">
    <div class="row-cols-1">
        <h1>Dashboard </h1>
        <h3>Welcome {{session.username}}</h3>
        <a href="/add_article"><button class="btn btn-success">Add Article</button></a>
        <hr>
        <div class="row-cols-1">

        </div>

    </div>
</div>
{% endblock %}