{% extends 'base.html' %}

{% block body %}
<div class="container col-lg-8 mt-5">
    <div class="row-col-1">
        <h1>Login</h1>
    </div>
    <div class="row-col-1 table-bordered">
        <form action="" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" value={{request.form.username}}>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" value={{request.form.password}}>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}