{% extends 'base.html' %} {% block body %}
<div class="container col-md-12 col-lg-6 col-sm-12">
  <div class="row-cols-1">
    <h2>Register</h2>
  </div>
  <div class="row-cols-1">
    {% from "includes/_formhelper.html" import render_field %}
    <form action="" method="post">
      <div class="form-group">
        {{ render_field(form.name,class_="form-control")}}
      </div>
      <div class="form-group">
        {{ render_field(form.email,class_="form-control")}}
      </div>
      <div class="form-group">
        {{ render_field(form.username,class_="form-control")}}
      </div>
      <div class="form-group">
        {{ render_field(form.password,class_="form-control")}}
      </div>
      <div class="form-group">
        {{ render_field(form.confirm_password,class_="form-control")}}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}